/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-soft-blue: hsl(231, 69%, 60%);
  --clr-primary-soft-red: hsl(0, 94%, 66%);
  --clr-primary-grayish-blue: hsl(229, 8%, 60%);
  --clr-primary-dark-grayish-blue: hsl(231, 5%, 29%);
  --clr-primary-very-dark-blue: hsl(229, 31%, 21%);

  --ff-primary: 'Rubik', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  height: 100vh;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-grayish-blue);
  line-height: 1.8rem;
}
.section-title {
  color: var(--clr-primary-very-dark-blue);
  letter-spacing: 0.02rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Styles
===============
*/
/*
=============== 
Navigation
===============
*/
.big-screen-nav {
  display: none;
}
.small-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2.5rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
}
/* SIDEBAR */
.hide-small-navbar {
  display: none;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--clr-primary-very-dark-blue);
  opacity: 90%;
}
.show-sidebar {
  display: block;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
}
.links {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.sidebar-link {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  /* for hover */
  border: solid transparent 2px;
  border-radius: var(--radius);
  padding: 0.5rem 8rem;
}
.sidebar-link::before,
.sidebar-link::after {
  content: '';
  position: absolute;
  border-color: var(--clr-primary-grayish-blue);
  opacity: 20%;
  border-style: solid;
  border-width: 0.1px;
  min-width: 24rem;
  bottom: 3.5rem;
  right: -0.2rem;
}
.sidebar-link:hover {
  border: solid white 2px;
}
.social-links {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a {
  color: white;
  font-size: 2rem;
}
.sidebar-facebook {
  margin-right: 1.5rem;
}
.sidebar-twitter {
  margin-left: 1.5rem;
}
@media screen and (min-width: 920px) {
  .small-navbar {
    display: none;
  }
  .big-screen-nav {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem;
  }
  .big-screen-links {
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar-link {
    text-transform: uppercase;
    color: var(--clr-primary-grayish-blue);
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
  }
  .navbar-link:hover {
    color: var(--clr-primary-soft-red);
  }
  .login-link {
    margin-left: 1rem;
    background: var(--clr-primary-soft-red);
    padding: 0.5rem 2rem;
    border-radius: var(--radius);
    color: white;
    border: var(--clr-primary-grayish-blue) 1px solid;
  }
  .login-link:hover {
    border: var(--clr-primary-soft-red) 1px solid;
    background: white;
    color: var(--clr-primary-soft-red);
  }
}

/*
=============== 
Hero
===============
*/
.hero {
  margin: 3rem 2rem;
  display: grid;
  place-items: center;
}
.hero-img {
  position: relative;
  margin-bottom: 3rem;
}
.hero-img img {
  width: 90vw;
}
.hero-img::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 70%;
  border: 0.25rem solid var(--clr-primary-soft-blue);
  top: 6rem;
  right: -5rem;
  border-bottom-left-radius: 10rem;
  z-index: -1;
}
.hero-info {
  width: 80vw;
  text-align: center;
}
.hero-info h2 {
  color: var(--clr-primary-very-dark-blue);
  font-size: 2.2rem;
  letter-spacing: 0.07rem;
  line-height: 2.5rem;
}
.hero-btn-firefox {
  background: white;
  color: var(--clr-primary-dark-grayish-blue);
  border: transparent 1px solid;
}
.hero-btn-firefox:hover {
  border: black 1px solid;
}
.hero-btn-chrome {
  border: transparent 1px solid;
}
.hero-btn-chrome:hover {
  background: white;
  color: var(--clr-primary-soft-blue);
  border: var(--clr-primary-soft-blue) 1px solid;
}
.hero-buttons {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 920px) {
  .hero-info {
    max-width: 35vw;
    margin-left: 5rem;
    text-align: left;
  }
  .hero-img img {
    max-width: 45vw;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'a b';
    column-gap: 2rem;
    margin-top: 4rem;
    place-items: center;
  }
  .hero-info {
    grid-area: a;
  }
  .hero-img {
    grid-area: b;
  }
  .hero-buttons {
    justify-content: left;
  }
  .hero-btn-chrome {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    column-gap: 5rem;
  }
  .hero-info {
    max-width: 35vw;
    margin-left: 7rem;
    text-align: left;
  }
}
/*
=============== 
Features
===============
*/
.features {
  margin: 3rem 2rem;
  margin-top: 6rem;
  display: grid;
  place-items: center;
}
.title-container {
  display: grid;
  place-items: center;
  margin: 2rem 2rem;
}
.title-container .text {
  text-align: center;
}
.features-img img {
  width: 80vw;
}
.features h2 {
  margin-bottom: -1rem;
}
.featires-container {
  display: grid;
  place-items: center;
}
.features-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 3rem;
  margin-bottom: 6rem;
}
.features-button {
  position: relative;
  background: transparent;
  border: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-primary-grayish-blue);
}
.features-button-active {
  color: var(--clr-primary-very-dark-blue);
  position: relative;
}
.features-button-active::after {
  content: '';
  position: absolute;
  border-color: var(--clr-primary-soft-red);
  border-style: solid;
  border-width: 0.15rem;
  min-width: 10rem;
  left: 0.5rem;
  top: 2.5rem;
}
.features-button::before,
.features-button-last::after {
  content: '';
  position: absolute;
  border-color: var(--clr-primary-grayish-blue);
  opacity: 20%;
  border-style: solid;
  border-width: 0.1px;
  min-width: 26rem;
  left: -8rem;
  top: -1.7rem;
}
.features-button-last::after {
  top: 3rem;
}
/*
=============== 
Download
===============
*/
/*
=============== 
FAQ
===============
*/
/*
=============== 
Contact Form
===============
*/
/*
=============== 
Footer
===============
*/
