/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-dark-blue: hsl(240, 38%, 20%);
  --clr-primary-gray-blue: hsl(240, 18%, 77%);

  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Inter', sans-serif;
  /* --ff-secondary: 'Open Sans', sans-serif; */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --fs-size-sm: 0.875rem;
  --fs-size-md: 1.125rem;
  --fs-size-lg: 2rem;

  --fw-weight-thin: 300;
  --fw-weight-medium: 500;
  --fw-weight-bold: 700;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  font-size: var(--fs-size-sm);
  margin: 0 auto;
  height: 100%;
}
.img {
  max-width: 100%;
  height: auto;
}
/* //////////////
My CSS
//////////////// */
main {
  height: 100vh;
}

.photo {
  height: 100%;
  width: 100%;
  background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: right;
  background-position-y: center;
}
.img-container {
  padding: 5rem 0;
  display: grid;
  place-items: center;
  position: relative;
}
.person-img {
  height: 25rem;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.prev-btn,
.next-btn {
  border: transparent;
  background: var(--clr-white);
  padding: 1.1rem;
  padding-top: 1.2rem;
  border-radius: 50%;
  /* box-shadow: var(--dark-shadow); */
  cursor: pointer;
  position: absolute;
  bottom: 10%;
}
.prev-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 1.7rem;
  left: 46%;
  transform: translate(-50%);
}

.next-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1rem;
  padding-left: 1.7rem;
  left: 45%;
  transform: translate(76%);
}

.section-info {
  background: url(./images/pattern-quotes.svg) no-repeat;
}
.info {
  display: grid;
  place-items: center;
}
.info-text {
  width: 80%;
  font-size: var(--fs-size-md);
  line-height: 1.7rem;
  color: var(--clr-primary-dark-blue);
  margin-bottom: 2rem;
  text-align: center;
}
.position {
  color: var(--clr-primary-gray-blue);
  font-size: var(--fs-size-md);
  margin-top: 0.5rem;
  text-align: center;
}
.name {
  letter-spacing: normal;
  color: var(--clr-primary-dark-blue);
  font-size: var(--fs-size-md);
}
.footer {
  width: 100%;
  height: 8rem;
  background: url(./images/pattern-curve.svg);
  background-size: 100%;
}
@media screen and (min-width: 920px) {
  figure {
    margin: 0 auto;
    width: 85vw;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    column-gap: -5rem;
    grid-template-areas: 'a b';
    place-items: center;
  }
  .info {
    margin-top: 0;
  }
  .section-info {
    /* padding-left: 4rem; */
    margin-right: -15rem;
    grid-area: a;
    z-index: 2;
  }
  .photo {
    grid-area: b;
    background-size: 80%;
    margin-left: -10rem;
  }
  .info p {
    text-align: left;
  }
  .name {
    font-size: 1.5rem;
    margin-bottom: -0.7rem;
  }
  .info-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-self: left;
  }
  .prev-btn {
    left: 30%;
  }
  .next-btn {
    left: 29%;
  }
}
